@font-face {
    font-family: "MuseoSansCyrl_500";
    src: url("../fonts/MuseoSansCyrl_500.otf");
}

@font-face {
    font-family: "MuseoSansCyrl_700";
    src: url("../fonts/MuseoSansCyrl_700.otf");
}

@font-face {
    font-family: "MuseoSansCyrl_900";
    src: url("../fonts/MuseoSansCyrl_900.otf");
}

@font-face {
    font-family: "noto-serif-italic";
    src: url("../fonts/noto-serif-italic.ttf");
}