@import "fonts";

//fonts
$header-color: #0066a1;
$white-color: #fff;
$h2-color: #282828;
$h4-color: #fab330;
$active-color: #149ed8;
$a-color: #292929;
$eng-color: #8c8c8c;
$btn-color: #fab330;
$btn-hover: #fab350;
$content-color: #f9f9f9;

%ancor {
	text-transform: uppercase;
	text-decoration: none;
}

%picture {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: inherit;
    height: 500px;
}

body {
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 1360px;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.topHeader {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: $header-color;
	padding: 18px 0px;
	p {
		margin-right: 12px;
		color: $white-color;
		font-family: 'MuseoSansCyrl_900';
		font-size: 1.2em;
	}
	span {
		text-transform: uppercase;
	}
	img {
		cursor: pointer;
		&:hover {
			opacity: 0.25;
		}
	}
}

.bottomHeader {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 15px 0;
	.logo {
		position: absolute;
		top: 5px;
		left: 40px;
		z-index: 100;
	}
	nav {
		ul {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		li {
			cursor: pointer;
			margin-right: 30px;
			a {
				@extend %ancor;
				color: $a-color;
				font-size: 1.05em;
				font-family: 'MuseoSansCyrl_700';
				&:hover, &.active {
					color: $active-color;
					border-bottom: 2px solid $active-color;
					}
				}
			}
		}
	}
	.ham {
		display: none;
		margin-top: 13px;
    	margin-right: 20px;
    	cursor: pointer;
    	&:hover {
    		opacity: 0.25;
    	}
	}
	.language {
		display: flex;
		flex-direction: row;
		.active-lang {
			font-family: 'MuseoSansCyrl_900';
			color: $active-color;
			padding-right: 10px;
			cursor: pointer;
		}
		.eng {
			font-family: 'MuseoSansCyrl_500';
			color: $eng-color;
			border-left: 2px solid $eng-color;
			padding-left: 10px;
			cursor: pointer;
			&:hover {
				color: $active-color;
			}
		}
	}
	.search {
		position: absolute;
		top: 30px;
		right: 50px;
		cursor: pointer;
		&:hover {
			opacity: 0.25;
		}
	}
}

section {
	position: relative;
	display: flex;
	flex-direction: column;
    .mySlides {
    	display:none
    }
    .slider-nav {
		position: absolute;
		bottom: 30px;
		text-align: center;
		left: 50%;
		transform: translateX(-50%);
		z-index: 200;
	}
	.slider-nav a {
		width: 12px;
		height: 12px;
		text-decoration: none;
		color: #000;
		display: inline-block;
		border-radius: 50%;
		margin: 0 5px;
		background-color: transparent;
  		border: 3px solid #fff;
	}
	.slider-nav {
	    background-color: transparent;
	}
	.slider-nav a.current {
		background-color: #fff;
	}
	.horizontal-controls {
		position: absolute;
		display: inline-block;
		width: 17px;
		height: 27px;
		top: 50%;
		margin-top: -10px;
		z-index: 100;
	}
	#prev {
		background-image: url('../images/arrow_left.png');
		left: 60px;
		cursor: pointer;
		&:hover {
			opacity: 0.5;
		}
	}
	#next {
		background-image: url('../images/arrow_right.png');
		right: 60px;
		cursor: pointer;
		&:hover {
			opacity: 0.5;
		}
	}
    flex-direction: column;
    .pic1 {
    	background-image: url('../images/main_image.jpg');
    	@extend %picture;
    }
    .pic2 {
    	background-image: url('../images/choko.jpg');
    	@extend %picture;
    }
    .pic3 {
    	background-image: url('../images/food.jpg');
    	@extend %picture;
    }
	.slogan {
		font-family: 'noto-serif-italic';
		font-size: 1.8em;
		color: $h4-color;
		position: absolute;
		margin-left: auto;
    	margin-right: auto;
    	right: 0;
    	left: 0;
    	text-align: center;
		padding-top: 25px;
		h4 {
			margin: 0;
			color: $white-color;
			font-weight: normal;
		}
	}
	.content {
		position: absolute;
		top: 100px;
		margin-left: auto;
    	margin-right: auto;
    	right: 0;
    	left: 0;
		max-width: 660px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 60px;
		border-radius: 10px;
		background-color: $content-color;
		margin-bottom: 90px;
		h5 {
			font-family: 'MuseoSansCyrl_900';
			font-size: 1.05em;
			color: $btn-color;
			text-transform: uppercase;
			margin: 0;
			letter-spacing: 4px;
		}
		h2 {
			font-family: 'noto-serif-italic';
			font-size: 2.5em;
			color: $h2-color;
			text-align: center;
			margin: 0;
			margin-top: 30px;
			font-weight: normal;
		}
		a {
			@extend %ancor;
			font-family: 'MuseoSansCyrl_900';
			font-size: 1em;
			color: $white-color;
			border-radius: 10px;
			padding: 15px 25px;
			background-color: $btn-color;
			margin-top: 30px;
			letter-spacing: 3px;
			&:hover {
				background-color: $btn-hover;
			}
		}
	}
}